<h1> Heroine Power Create Page</h1>
<% if flash[:errors].each do |error|%>
<li style="color:red"><%= error %> </li>
<% end%>
<% end%>


<%= form_with model: @heroinepower do |f|%>
<%= f.collection_select :heroine_id, @heroines, :id, :name, {include_blank: 'Select a Heroine'} %>
<%= f.collection_select :power_id, @powers, :id, :name, {include_blank: 'Select a Power'} %>
<%= f.label :strength %>
<%= f.text_field :strength %>
<%= f.submit %>
<%end%>