<%if flash[:errors]%>
<%flash[:errors].each do |error|%>
<li style="color:red"> <%= error%> </li>
<%end%>
<%end%>


<%= form_for @heroine_power do |f|%>
<%=f.label "Super Heroine"%>
<%=f.collection_select :heroine_id, @heroines, :id, :super_name%>
<%=f.label "Super Power"%>
<%=f.collection_select :power_id, @powers, :id, :name%>
<%=f.label "Strength of Power (Weak/Average/Strong)"%>
<%=f.text_field :strength%>
<%=f.submit%>
<%end%>

<%=button_to "All Heroines", heroines_path, method: :get%>
<%=button_to "All Powers", powers_path, method: :get%>
